@import '../../theme/core.scss';
@import '../../global.scss';
video {
  width: 100%;
  height: 110%;
  position: absolute;
  z-index: 0;
  object-fit: cover;
}
.void {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  object-fit: cover;

  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    background-color: rgba(67, 6, 6, 0.252);
  }

  40% {
    background-color: rgba(0, 0, 0, 0.353);
  }

  80% {
    background-color: rgba(0, 0, 0, 0.353);
  }

  100% {
    background-color: rgba(67, 6, 6, 0.252);
  }
}
.root {
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  background: black;
  justify-content: center;
  text-shadow: 5px 10px 12px rgb(0, 0, 0);
  align-items: center;
  @include tablet-or-less {
    flex-direction: column;
  }
}

.root:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  border-left: 60vw solid transparent;
  border-bottom: 70vh solid rgb(0, 0, 0);
  width: 0;
}

.leftContainer {
  flex: 1;
  flex-direction: column;
  //background-image: linear-gradient(to top, #000000c8 0%, rgba(0, 0, 0, 0.777) 100%);
  //border-radius: 100px;
  // box-shadow: 0px 33px 40px 60px rgba(0, 0, 0, 0.752);
  padding: rem(60);
  z-index: 2;
  @include tablet-or-less {
    width: 100%;
    padding: rem(32) rem(16);
  }
  @include breakpoint-down(1120) {
    padding: rem(32) rem(16);
    flex: 3;
  }
}

.rightContainer {
  flex: 1;
  flex-direction: column;
  padding: rem(60);

  z-index: 2;
  //@extend .leftContainer;
  @include tablet-or-less {
    width: 100%;
    padding: 0 rem(24) rem(24);
  }
  @include breakpoint-down(1120) {
    padding: rem(24);
    flex: 5;
  }
}

.logo {
  display: block;
  width: rem(160);
  margin-bottom: rem(16);
  margin-left: auto;
  margin-right: auto;
  @include tablet-or-less {
    width: rem(120);
  }
}
.profile {
  display: block;
  width: rem(500);
  margin-bottom: rem(16);
  margin-left: auto;
  margin-right: auto;
  @include tablet-or-less {
    width: rem(210);
  }
}

.header {
  font-size: rem(80);
  font-family: 'MyFont';
  font-weight: 100;
  color: white !important;
  text-align: center;
  margin-bottom: rem(60);
  @include tablet-or-less {
    font-size: rem(32);
    margin-bottom: rem(16);
  }
}

.title {
  font-weight: bold;
  font-style: normal;
  font-family: 'MyFont';
  font-weight: 100;
  font-size: rem(40);
  color: white;
  text-align: center;
  margin-bottom: rem(16);
}

.description {
  font-size: rem(16);
  line-height: rem(19);
  text-align: center;
  color: white;
  margin-bottom: rem(48);
}

.prompt {
  font-weight: bold;
  font-size: rem(16);
  color: rgba(255, 255, 255, 0.476);
  //text-decoration: underline;
  text-align: center;
}
